.adverse-container{
  display: flex;
  flex-direction: column;
  gap: 26px;

}
.left-header{
  float: left;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 24px;
  margin-top: 22px;
}
.header-text{
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(44, 44, 46, 1);
  text-align: center;
}
.email-container{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(45, 45, 47, 0.1);
  border: 0.5px solid rgba(229, 231, 237, 1);
  border-radius: 20px;
  margin-left: 21px;
}
.email-from{
height: 56px;
background-color: white;
padding: 20px 20px;
color: rgba(105, 106, 110, 1);
}

.email-title{
color: rgba(10, 11, 13, 1);
font-size: 12px;
line-height: 18px;
font-weight: 500;
}
.email-content{
  padding-left: 20px;
}
.email-content-1{
  color: rgba(105, 106, 110, 0.7);
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;

}
.checkbox-header{
 color: rgba(44, 44, 46, 1);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 60px;
}
.footer-text{
  color: rgba(105, 106, 110, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}
.btn{
height: 40px;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 8px 16px;
gap: 4px;
margin-right: 21px;
}
.footer-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: rgba(105, 106, 110, 1);
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.example-section {
  margin: 12px 0;
  color:rgba(105, 106, 110, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
